:root {
  --brown: #2a1a10;
  --teal: #579bb1;
  --beige: #e1d7c6;
  --greige: #ece8dd;
  --vanilla: #f8f4ea;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

.hidden {
  display: none;
}

.background-img {
  background-image: url("/assets/pexels-photo-5789582.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}

.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}

.quote {
  align-content: center;
  background-color: rgb(#579bb1, 0.3);
  font-family: "Freehand";
  font-size: 2rem;
  height: 7vh;
  text-align: center;
  position: relative;
  z-index: 10;
}

.buttons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  margin: 20px;
}
button {
  background-color: rgb(#ece8dd, 0.4);
  border: none;
  border-radius: 8px;
  color: var(--brown);
  font-weight: bold;
  letter-spacing: 2px;
  padding: 10px 20px;
  text-transform: uppercase;
}
button:hover {
  background-color: var(--teal);
  color: var(--vanilla);
}

.start-text {
  align-items: center;
  display: flex;
  text-shadow: 2px 2px 8px rgba(#2a1a10, 0.3);
  flex-direction: column;
  left: 10%;
  position: absolute;
  top: 15%;

  .for-the-love {
    font-family: freehand;
    font-size: 4em;
    font-weight: 100;
    margin: 0;
  }
  .knitting {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6em;
    font-weight: 200;
    margin: 0;
    text-transform: uppercase;
  }
  .knitting-text {
    align-content: center;
    background-color: rgb(#2a1a10, 0.4);
    border-radius: 8px;
    color: var(--vanilla);
    height: 30vh;
    margin: 40px 0 0 0;
    padding: 5%;
    text-align: center;
    max-width: 30vw;
    .grannies {
      font-family: "Freehand";
      letter-spacing: 1px;
      font-size: 2.2vw;
      padding: 5% 0;
    }
    p {
      font-size: 1.2vw;
      margin: 5% 0;
    }
  }
}

.slideshow {
  width: 30vw;
  height: 60vh;
  max-width: 500px;
  overflow: hidden;
  outline: 5px solid #fff;
  position: absolute;
  right: 12%;
  top: 20%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
  }
}

.gallery-page {
  height: 100vh;
  justify-content: center;
  position: relative;
  text-align: center;
  .gallery-title,
  .gallery-text,
  .return-btn {
    display: inline-block;
  }

  .gallery-title {
    font-family: "Freehand";
    font-size: 5rem;
    text-shadow: 2px 2px 8px rgba(#2a1a10, 0.3);
  }
  .gallery-text {
    align-content: center;
    background-color: rgb(#2a1a10, 0.4);
    border-radius: 8px;
    color: var(--vanilla);
    font-size: 1.2rem;
    height: 30vh;
    margin: 40px 0 0 0;
    padding: 5%;
    text-align: center;
    max-width: 30vw;
  }
  .return-btn {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.contact-details {
  align-content: center;
  background-color: var(--beige);
  color: var(--brown);
  font-weight: bold;
  height: 30vh;
  text-align: center;
  .join-us {
    color: var(--teal);
    font-size: 2rem;
    font-weight: bolder;
    margin: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .name {
    font-family: "Freehand";
    font-weight: normal;
    font-size: 2.5rem;
    margin: 40px 0 25px 0;
  }
  .location {
    font-family: "Freehand";
    font-size: 1.8rem;
    font-weight: normal;
    margin: 5px 0;
  }
  .e-mail {
    margin: 25px 0 45px 0;
  }
}
