:root {
  --teal: #579bb1;
  --beige: #e1d7c6;
  --greige: #ece8dd;
  --vanilla: #f8f4ea;
  --white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.background-img {
  background-image: url("../public/assets/pexels-photo-5789582.jpeg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
}
